.info-window{
    position: absolute;
    width: 77%;
    max-width: 670px;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
    left:685;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: #f8f8f8;
    overflow: hidden;
}

.animation-info{
    height: 100%;
    width: 100%;
}

#display{
    width: 100%;
    height:auto;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}
